PORT=4000
CLIENT_URL=http://localhost:3001
ADMIN_EMAIL=admin@nigermarcher.com
ADMIN_PASSWORD=admin2024
JWT_SECRET=dev-secret-key-change-in-production
DATABASE_URL="postgresql://user:password@ep-xxxxx-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://user:password@ep-xxxxx.us-east-1.aws.neon.tech/neondb?sslmode=require"
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM=no-reply@example.com
